@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin max-screen($res) { 
    @media screen and (max-width: $res) { 
      @content; 
    } 
  }

  $font: "Roboto", sans-serif;

*{
    margin: 0;
    padding: 0;
}
.open{
    display: flex !important;
}
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.container{
    max-width: 1284px;
    margin: auto;
}
.wrapper{ 
    flex-grow: 1;
    header{
    padding: 15px 0;
    @include max-screen(767px){
        padding-left: 10px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
            nav{ 
                display: flex;
            align-items: center;
            @include max-screen(767px){
                display: none;
                flex-direction: column;
                position: fixed;
                height: 100%;
                width: 100%;
                top: 0; bottom: 0; left: 0; right: 0;
                z-index: 50;
                overflow-y: auto;
                padding: 50px 40px;
                background-color: black;
                animation: burgerAnimation 0.4s;
            }
            ul{
                display: flex;
                align-items: center;
                @include max-screen(767px){
                    flex-direction: column;
                    row-gap: 30px;
                    align-items: flex-start;
                    margin-top: 100px;
                }
               
                }
                li{
                    list-style: none;
                    margin-right: 20px;
                    @include max-screen(767px){
                        margin-right: 0;
                        margin-bottom: 40px;
                    }
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                    }
                }
                a{
                    text-decoration: none;
                    font-family: $font;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0%;
                    text-align: left;
                    color: black;
                    @include max-screen(767px){
                        color: white;
                        font-size: 34px;
                    }
                }
                button{
                    background-color: gray;
                    padding: 8px 12px;
                    border-radius: 20px;
                    border: none;
                    font-family: $font;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0%;
                    color: black;
                    cursor: pointer;
                    @include max-screen(767px){
                        font-size: 34px;
                        padding: 20px 35px;
                        margin-left: -25px;
                    }
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                    }
                }
            }
        }
        .burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    @include max-screen(767px){
        display: flex;
    }
    &.active{
        position: relative;
        &::before{
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }
        &::after{
            bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
        }
         span{
        transform: scale(0);
    }
}
    &:before{
     content: '';
     top: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #136572;
    transition: all 0.3s ease 0s;
    }
    &::after{
        bottom: 0;
        content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #136572;
    transition: all 0.3s ease 0s;
    }
    span{
        height: 2px;
        width: 80%;
        transform: scale(1);
        background-color: #136572;
    }
        }
    }
}

.main_banner{
    padding: 20px 0;
    background-color: gainsboro;
    @include max-screen(1300px){
         padding-left: 15px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max-screen(1015px){
            flex-direction: column;
            align-items: center;
        }
        .main_banner_box{
            max-width: 400px;
            @include max-screen(1015px){
                margin-bottom: 40px;
            }
            h1{
                @include max-screen(1015px){
                    padding-top: 30px;
                }
                margin-bottom: 25px;
                font-family: $font;
                font-size: 48px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0%;
                color: black;
            }
            p{
                font-family: $font;
                font-size: 17px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0%;
                color: gray;
            }
        }
        .main_banner_image{
            max-width: 618px;
            
            img{
                width: 100%;
            }
        }
    }
}
.membership{
    padding: 70px 0;
    @include max-screen(1300px){
        padding-left: 15px;
        padding-right: 15px;
   }
    .container{
        .membership_titles{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 64px;
            @include max-screen(600px){
                display: block;
           }
            p{
                color: rgb(0, 0, 0);
                font-family: $font;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0%;
                text-align: left;
                @include max-screen(600px){
                    margin-bottom: 20px;
               }
                span{
                    color: rgb(0, 0, 0);
                    font-family: $font;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            h5{
                color: rgb(120, 117, 115);
                font-family: $font;
                font-size: 19px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .membership_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @include max-screen(770px){
                flex-direction: column;
                align-items: flex-start;
           }
            .membership_box_item{
                width: 370px;
                &:nth-child(4){
                    margin-top: 63px;
                }
                &:nth-child(5){
                    margin-top: 63px;
                }
                &:last-of-type{
                    margin-top: 63px;
                }
                img{
                    margin-bottom: 16px;
                }
                h3{
                    margin-bottom: 2px;
                    color: rgb(0, 0, 0);
                    font-family: $font;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0%;
                    text-align: left;
                }
                h4{
                    color: rgb(85, 82, 78);
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }
}
.freedom{
    background-color: rgb(251, 237, 228);
    padding: 64px 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .freedom_image{
            max-width: 618px;
            img{
                width: 100%;
            }
        }
        .freedom_box{
            h3{
                margin-bottom: 37px;
                max-width: 483px;
                color: rgb(0, 0, 0);
                font-family: $font;
                font-size: 32px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0%;
                text-align: left;
            }
            .freedom_box_item{
                display: flex;
                margin-bottom: 35px;
                &:last-of-type{
                    margin-bottom: 0;
                }
                .freedom_box_item_image{
                    margin-right: 16px;
                }
                .freedom_box_item_desc{
                    h4{
                        color: rgb(0, 0, 0);
                        font-family: $font;
                        font-size: 19px;
                        font-weight: 400;
                        line-height: 30px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                    h5{
                        max-width: 410px;
                        color: rgb(0, 0, 0);
                        font-family: $font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0%;
                        text-align: left;
                    }
                }
            }
        }
    }
}
.enjoy{
    padding: 120px;
    background-color: #136572;
    .container{
        h4{
            color: rgb(255, 255, 255);
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 46px;
        }
        h3{
            color: rgb(255, 255, 255);
            font-family: $font;
            font-size: 48px;
            font-weight: 400;
            line-height: 57.6px;
            letter-spacing: 0%;
            text-align: left;
            margin-bottom: 100px;
        }
        .enjoy_image{
            max-width: 880px;
            margin: auto;
        }
        h5{
            color: rgb(255, 255, 255);
                font-family: $font;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.4px;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 50px;
                margin-bottom: 32px;
        }
        .enjoy_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .enjoy_box_item{
                max-width: 291px;
                margin-bottom: 26px;
                &:hover{
                    transform: scale(1.1);
                    transition-duration: 0.3s;
                }
                .enjoy_box_item_images{
                    margin-bottom: 14px;
                }
                p{
                    color: rgb(255, 255, 255);
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
    }
}
.review{
    padding: 80px 0;
    .container{
        h3{
    max-width: 332px;
    color: rgb(0, 0, 0);
    font-family: $font;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    letter-spacing: 0%;
    text-align: left;
    padding-bottom: 47px;
        }
        .review_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 72px;
            .review_item{
                max-width: 401px;
                border: #CECDCA  1px solid;
                padding: 30px 25px;
                height: 330px;
                h4{
                    margin-top: 22px;
                    margin-bottom: 12px;
                    color: rgb(0, 0, 0);
                    font-family: $font;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: left;
                }
                h5{
                    margin-bottom: 26px;
                    color: rgba(0, 0, 0, 0.6);
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: left;
                }
                p{
                    max-width: 344px;
                    color: rgba(0, 0, 0, 0.8);
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25.6px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
        .review_list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style: none;
            }
        }
    }
}
.cities{
    background-color: black;
    padding: 100px 0;
    .container{
        h3{
            color: rgb(255, 255, 255);
            font-family: $font;
            font-size: 32px;
            font-weight: 400;
            line-height: 44.8px;
            letter-spacing: 0%;
            text-align: left;
            padding-bottom: 20px;
        }
        h4{
            margin-bottom: 80px;
            color: rgb(167, 166, 164);
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            letter-spacing: 0%;
            text-align: left;
            max-width: 421px;
        }
        .cities_images{
            display: flex;
            max-width: 1000px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            img{
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 0.5s;
                }
            }
        }
        h5{
            margin-bottom: 25px;
            color: rgb(255, 255, 255);
            font-family: $font;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: left;
        }
        .cities_box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .cities_box_item{
                margin-bottom: 28px;
                width: 206px;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 0.3s;
                }
                p{
                    color: rgb(255, 255, 255);
                    font-family: $font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0%;
                    text-align: left;
                    margin-bottom: 10px;
                }
                h6{
                    color: rgb(167, 166, 164);
                    font-family: $font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
        }
        .cities_link{
            border-radius: 8px;
            max-width: 100px;
            padding: 12px 24px 16px;
            background: rgb(46, 43, 41);
            &:hover{
                transform: scale(1.2);
                transition-duration: 0.5s;
            }
            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: $font;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
    }
}
footer{
    background-color: #136572;
    padding: 80px 0;
    .container{
        .f_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            .f_title{
                max-width: 342px;
                h3{
                    color: rgba(255, 255, 255, 0.8);
                    font-family: $font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            .f_lists{
                display: flex;
                justify-content: space-between;
                ul{
                    &:first-of-type{
                        margin-right: 90px;
                    }
                    &:nth-child(2){
                        margin-right: 90px;
                    }
                    li{
                        list-style: none;
                        margin-bottom: 12px;
                        &:hover{
                            transform: scale(1.2);
                            transition-duration: 0.2s;
                        }
                        &:first-of-type{
                            margin-bottom: 24px;
                            a{
                                    margin-bottom: 24px;
                                    color: rgb(255, 255, 255);
                                    font-family: $font;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    letter-spacing: 0%;
                                    text-align: left;
                            }
                        }
                        a{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.6);
                            font-family: $font;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .f_footer{
            margin-top: 37px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .f_footer_desc{
                h4{
                    color: rgba(255, 255, 255, 0.3);
                    font-family: $font;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: left;
                }
            }
            .f_footer_info{
                display: flex;
                align-items: center;
                p{
                    margin-right: 15px;
                    color: rgba(255, 255, 255, 0.3);
                    font-family: $font;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0%;
                    text-align: left;
                }
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-right: 17px;
                        list-style: none;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}